body {
  margin: 0;
  /*  */
  background-color: #34568b;
}

.navbar {
  height: 40px;
  width: 100%;
  background-color: #92a8d1;
  padding: 16px 32px;
  display: flex;
  justify-content: space-around;
}
/* nav a {
  margin-right: 16px;
  color: rgb(197, 39, 202);
} */
.headings {
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-weight: 500;
  padding-top: 10px;
}

h1 {
  text-align: center;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgba(195, 197, 201, 0.808);
}

h2 {
  font-size: xx-large;
  font-weight: 900;
  margin-left: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgba(195, 197, 201, 0.808);
}

.table {
  width: 80%;
  margin-left: 110px;
  margin-top: 80px;
}

row1 {
  display: flex;
}

.student-btn {
  height: 50px;
  width: 200px;

  /* font-size: x-large;
  font-weight: 700; */
  position: absolute;
  top: 100px;
  left: 76%;
  color: aliceblue;

  text-align: center;
  border: 2px solid black;
  border-radius: 20px 20px;
  cursor: pointer;
  text-decoration: none;
}

input {
  width: 100%;

  /* border: transparent; */
  height: 20px;
  text-decoration: none;
}

.details {
  width: 600px;
  height: 380px;
  background-color: rgb(162, 167, 197);
  margin-top: 40px;
  margin-left: 400px;
  display: flex;
  justify-content: space-around;
}

.back-btn {
  height: 50px;
  width: 200px;
  margin-top: 30px;
  font-size: x-large;
  font-weight: 700;

  text-align: center;
  border: 2px solid black;
  border-radius: 20px 20px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

.update-btn {
  height: 50px;
  width: 200px;
  margin-top: 30px;
  font-size: x-large;
  font-weight: 700;

  text-align: center;
  border: 2px solid black;
  border-radius: 20px 20px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}
